<h1>MOST LIKED PICTURES</h1>
<% for(var i=0; i<result.length; i++){ %>
	<div>
		<img style="height:30%; width:30%" src="<%= result[i].image_url %>">
	</div>
	<div>
		<span><%= result[i].caption%></span>
	<div>
	<div>
		<span><%= result[i].photo_tag_text%></span>
	<div>
	<hr>
<%};%>