
<% include partials/header %>
<div class="container">
    <div class="row">
         <div style="width:30% ; margin: 40px auto;">
          <h3>  NEW POST!</h3>  
          </div>
    <div style="width:30% ; margin: 0 auto;">
    
    <form action="/page/<%=id%>/newpagepost" method="POST" class="form-horizontal">
    <div class="form-group">
         <label for="imageurl"  class="col-sm-3 control-label">Image URL:</label>
           <div class="col-sm-9 ">
             <input type="text" placeholder="Enter image url" name="imageurl">
             </div>
    </div>

    <div class="form-group">
         <label for="caption" class="col-sm-3 control-label">Caption:</label>
            <div class="col-sm-9 ">
            <input type="text" placeholder="Enter Caption" name="caption">
            </div>
    </div>
    <div class="form-group">
         <label for="tags" class="col-sm-3 control-label">Tags:</label>
            <div class="col-sm-9 ">
            <input type="text" placeholder="Enter hashtags" name="tags">
            </div>
    </div>

     <div class="form-group ">
           <div class="col-sm-offset-3 col-sm-9">
        <button class="btn  btn-primary "> Submit</button>
        </div>
    </div>
</form>
</div>
</div>
</div>
<% include partials/footer %> 
