
<% include partials/header %>
<div class="container">
    <div class="row">
         <div style="width:30% ; margin: 40px auto;">
          <h3>Sign Up!</h3>  
          </div>
    <div style="width:30% ; margin: 0 auto;">
    
    <form action="/register/page" method="POST" class="form-horizontal">
    <div class="form-group">
         <label for="userid" class="col-sm-3 control-label">User Id:</label>
            <div class="col-sm-9 ">
            <input type="text" name="userid" value=<%=id%> >
            </div>
    </div>
    <div class="form-group">
         <label for="pagetitle"  class="col-sm-3 control-label">Page Title:</label>
           <div class="col-sm-9 ">
             <input type="text" placeholder="Enter page title" name="pagetitle">
             </div>
    </div>

    <div class="form-group">
         <label for="purpose" class="col-sm-3 control-label">Purpose:</label>
            <div class="col-sm-9 ">
            <input type="text" placeholder="Enter Purpose" name="purpose">
            </div>
    </div>

     <div class="form-group ">
           <div class="col-sm-offset-3 col-sm-9">
        <button class="btn  btn-primary "> Submit</button>
        </div>
    </div>
</form>
</div>
</div>
</div>
<% include partials/footer %> 
