
<% include partials/header %>
<div class="container">
    <div class="row">
         <div style="width:30% ; margin: 40px auto;">
          <h3>Sign Up!</h3>  
          </div>
    <div style="width:30% ; margin: 0 auto;">
    
    <form action="/register" method="POST" class="form-horizontal">
    <div class="form-group">
         <label for="username"  class="col-sm-3 control-label">Username:</label>
           <div class="col-sm-9 ">
             <input type="text" placeholder="Enter username" name="username">
             </div>
    </div>

    <div class="form-group">
         <label for="emailid" class="col-sm-3 control-label">EmailId:</label>
            <div class="col-sm-9 ">
            <input type="text" placeholder="Enter Email-id" name="emailid">
            </div>
    </div>
    <div class="form-group">
         <label for="dob" class="col-sm-3 control-label">Date of Birth:</label>
            <div class="col-sm-9 ">
            <input type="date" placeholder="Enter Date of Birth" name="dob">
            </div>
    </div>

     <div class="form-group">
         <label for="password" class="col-sm-3 control-label">Password:</label>
            <div class="col-sm-9 ">
            <input type="password" placeholder="Enter password" name="password">
            </div>
    </div>
     <div class="form-group">
         <label for="profilepic" class="col-sm-3 control-label">Profile :</label>
            <div class="col-sm-9 ">
            <input type="text" name="profilepic" placeholder="Profile Pic URL">
            </div>
    </div>
     <div class="form-group">
    <STRONG>What do you wish to create?</STRONG>
	<INPUT TYPE="radio" NAME="page" VALUE="page">Page
	<INPUT TYPE="radio" NAME="user" VALUE="user">User
	</div>
     <div class="form-group ">
           <div class="col-sm-offset-3 col-sm-9">
        <button class="btn  btn-primary "> Submit</button>
        </div>
    </div>
</form>
</div>
</div>
</div>
<% include partials/footer %> 
